.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}


h1 {
  color: #2c3e50;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 10px;

  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

input,
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #2c3e50;
  background:#242424;
}


p{
color:#2c3e50;
margin: 0;
}

label {
  color: #2c3e50;
  font-size: 14px;
}

.biggerLetters{
font-size: 16px;
}


button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;

  background-color: #0077be;
  color: white;
  font-size: 16px;

  cursor: pointer;
}

button:hover {
  background-color: #005f96;
}


@media (max-width: 600px) {

  .app-container {
    padding: 15px;
  }

  .form-container {
    padding: 20px;
  }

}